# Exclude all markdown files recursively
*.md
**/*.md

# Exclude incomplete projects (do not push to git)
/Project 5 - Retrieve Timezone Information/
/Project 6 - Retrieve and Display User Information Using IP Address/
/Project 7 - NASA Picture of the Day/
/Project 8 - Shopping Cart/

# Exclude local project details
/Project Details.txt
